body {
    margin: 0;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

#navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

#brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#icon {
    width: 32px;
    height: 32px;
}

#name {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 0 1rem;
}

nav ul li a:hover {
    color: #1DB954;
}
