 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 :root {
  --background-color: linear-gradient(to right, #ff9a9e, #fad0c4);
  --text-color:linear-gradient(to right, #ff8a00, #e52e71);
  --hover-effect: linear-gradient(to right, #f6d365, #fda085);
}
