*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(167, 194, 204) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: rgb(244, 246, 248);
    padding: 20px;
    width: 50%;
}
h2{
    margin-bottom: 15px;
    font-size: 25px;
    color: rgb(53, 54, 54);
}
label{
    margin-bottom: 5px;
}
#name{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
}
#name div{
    flex: 1;  
}
#name input{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;  
    font-size: 1rem;
     
}
input[type="email"]{
width: 100%;
padding: 10px;
border: 1px solid #ccc; 
margin-bottom: 15px;
}

#radiobtn{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
}
#radiobtn div{
    width: 100%;
    border: 1px solid #ccc;
     padding: 10px;
     background-color: #f3f1f1;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
}
#btn{
    display: flex;
    justify-content: center;

}
button{
    margin-top: 10px;
    background-color: rgb(9, 82, 64);
    color: #f3f1f1;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
@media (max-width: 600px) {
    #name {
        flex-direction: column;
    }
    #radiobtn{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    main{
        width: 80%;
    }
}