*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #453cc2;
}
.calender-container{
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(247, 3, 3, 0.5);
    overflow: hidden;
}
.calender-container #month-name{
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    background-color: rgb(223, 90, 13);
    
}

.calender-container #day{
    font-size: 20px;
    padding: 10px;
    color: #5a5252;
}

.calender-container #date{
    font-size: 80px;
    font-weight: 700;
    padding: 10px;
   
}
.calender-container #year{
    font-size: 20px;
    padding: 10px;
    color: #5a5252;
}